body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210907/pngtree-video-games-console-image_833781.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 55px;
    font-family: fantasy;
    list-style-type:circle;
}
 a:link {
     color: #58d68d
}

a:visited{
     color:#e74c3c 
}

a:hover{
    color: #3498db 
}
p{
    border-top: lightblue 5px dashed;
    border-botton: lightblue 5px dashed;
}
