marquee{
    direction: left;
    color:rgb(226, 140, 153);
    font-size: 50px;
    font-family: Georgia;
}
p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Georgia;
}
body{
    background-image: url(https://wallpapercave.com/wp/wp5538743.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}
table, td, tr, th{
    border:2px solid azure;
    color:whitesmoke;      
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
td{
    font-size: 30px;
}
ul,li{
    color: black;
    font-size: 20px;
    font-family: monospace;
    list-style-type: square;
}
div{
    font-size: 25px;
    color: rgb(133, 174, 227);
    font-family: Georgia;
    background-color: white;
}
a:link{
    color:rgb(0, 255, 191)
}
a:hover{
    color:rgb(174, 240, 168);
    text-decoration:underline
}
a:visited{
    color:rgb(243, 117, 117)
}
a:active{
    color:lime
}
span{
    font: 45px fantasy;
    text-color: #FFFFFF
}
