marquee{
    direction: left;
    color:lightgrey;
    font-size: 50px;
    font-family: Georgia;
}
p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Georgia;
}
body{
    background-image:url(https://wallpaperaccess.com/full/3175522.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table, td, tr, th{
    border:2px solid azure;
    color:whitesmoke;      
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
td{
    font-size: 30px;
}
div{
    font-size: 1.5em;
    position: relative;
    color: lightseagreen;
    font-family: Georgia;
    background-color: white;
}
ul,li{
    color: white;
    font-size: 20px;
    font-family: monospace;
}
a:link{
    color:rgb(0, 255, 191)
}
a:hover{
    color:rgb(174, 240, 168);
    text-decoration:underline
}
a:visited{
    color:rgb(0, 32, 240)
}
a:active{
    color:lime
}
