p{
    color:lightgoldenrodyellow;
    font:20px Arial;
    
}
body{
    background-image: url(https://images.hdqwalls.com/wallpapers/gamer-zone-4k-9u.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
table, td, tr, th{
    border:2px solid azure;
    color:whitesmoke;      
}
table{
    border-collapse: collapse;
    font-size: 20px;
}
td{
    font-size: 30px;
}
div{
    text-align: center;
    font-size: 15px;
}
a:link{
    color:rgb(0, 255, 191);
}
a:hover{
    color:rgb(174, 240, 168);
    text-decoration:underline
}
a:visited{
    color:rgb(243, 117, 117);
}
a:active{
    color:lime;
}

#menu {
  font-family: Arial;
}

#menu p {
  margin:0px;
  padding:0px;
}

#menu a {
  display: block;
  padding: 5px;
  width: 160px;
  background-color: #fbeee6 ;
  border-bottom: 1px solid #eeeeee;
  text-align:center;
}

#menu a:link, #menu a:visited {
  color: #ff0000;
  text-decoration: none;
}

#menu a:hover {
  background-color:  #03ff0f ;
  color:  #031aff ;
}
